{% extends 'pwaMessenger/main.html' %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link p-0" href="{% url 'Chat:chat_choice' %}">
        <svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
            <path d="M0-.5h24v24H0z" fill="none"/>
        </svg>
    </a>
</li>
{% endblock nav %}
{% block title %}{{page_title}}{% endblock title %}

{% block main %}
<div class="col-12 p-3">
    <form action="{% url 'Chat:save_distribution' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control form-control-white" id="formGroupInput" name="content"
                   placeholder="Сообщение для рассылки...">
        </div>
        <select class="mdb-select md-form" multiple searchable="Найти адресатов.." id="SELECT"
                name="search">
            <option value="default" disabled selected>Выберите адресатов</option>
            {% for user in users %}
            <option value="{{user}}">{{user}}</option>
            {% endfor %}
        </select>


        <button class="btn btn-default" type="submit" id="button">Разослать</button>

    </form>
</div>
{% endblock %}