{% extends 'pwaMessenger/main.html' %}
{% block title %}{{page_title}}{% endblock title %}
{% block search %}
<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark-blue-text">
                <i class="fas fa-bars fa-1x"></i>
            </span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <select class="mdb-select md-form dropdown-default" searchable="Поиск">
                <option value="" disabled selected>Выберите контакт</option>
                {% for user in users %}
                {% if user.first_name != '' and user.last_name != ''%}
                <option data-url="{% url 'Chat:room' user %}">{{ user.first_name}} {{ user.last_name}} ({{user}})
                </option>
                {% else %}
                <option data-url="{% url 'Chat:room' user %}">{{user}}</option>
                {% endif %}

                {% endfor %}
            </select>
        </li>
        <li class="nav-item">
            <label class="mdb-main-label">Выберите контакт</label>
        </li>
        <li class="nav-item d-flex justify-content-center">
            <a href="{% url 'Chat:distribution' %}" class="mdb-main-label btn btn-default">Групповая рассылка</a>
        </li>
    </ul>
</div>
{% endblock search %}
{% block main %}
{% if request.user.is_superuser %}
{% for user in users %}
<div class="col-12 p-0 pt-1">
    <div class="btn-group w-100 dropleft">
        <a href="{% url 'Chat:room' user %}" class="btn elegant-color w-100 p-2 d-flex align-items-center">
            <img src="media/{{ user.profile.photo  }}" class="user-photo elegant-color-dark rounded float-left" alt="">
            {% if user.first_name != '' and user.last_name != ''%}
            <p class="text-left h4-responsive text-capitalize ml-2">{{ user.first_name}} {{ user.last_name}}</p>
            {% else %}
            <p class="text-left h4-responsive text-capitalize ml-2">{{ user}}</p>
            {% endif %}
        </a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="col-12 p-0 pt-1">
    <div class="btn-group w-100 dropleft">
        <a href="{% url 'Chat:room' room_name %}" class="btn elegant-color w-100 p-2 d-flex align-items-center">
            <img src="/media/{{ user_admin.profile.photo  }}" class="user-photo elegant-color-dark rounded float-left" alt="">
            {% if user_admin.first_name != '' and user_admin.last_name != ''%}
            <p class="text-left h4-responsive text-capitalize ml-2">{{ user_admin.first_name}} {{ user_admin.last_name}}</p>
            {% else %}
            <p class="text-left h4-responsive text-capitalize ml-2">{{ user_admin }}</p>
            {% endif %}
        </a>
    </div>
</div>
{% endif %}
{% endblock main %}
{% block scripts %}
<!--  Адаптивный поиск  -->
<script>
    //Переход по результату
    $(".mdb-select").change(function () {
        let option = $(this).find('option:selected');
        if (option.data("url")) {
            window.location.href = option.data("url");
        }
    });
</script>
{% endblock %}